In [4]:
import pandas as pd
import numpy as np

data = {'Name': [ 'Mano', 'Divya', 'Pinky', 'Yamini'],
        'Age': [20, 24, 30, 21],
        'Address': ['Tamilnadu', 'Gandhipuram', 'Bhopal', 'Bnagalore'],
        'Qualification': ['Msc', 'Phd', 'MBA', 'M.Tech']}

data= pd.DataFrame(data)

print(data)
first= data.loc[data['Name'] == 'Jai']
print(first)

second= data["Age"]
print(second)

     Name  Age      Address Qualification
0    Mano   20    Tamilnadu           Msc
1   Divya   24  Gandhipuram           Phd
2   Pinky   30       Bhopal           MBA
3  Yamini   21    Bnagalore        M.Tech
Empty DataFrame
Columns: [Name, Age, Address, Qualification]
Index: []
0    20
1    24
2    30
3    21
Name: Age, dtype: int64

In [5]:
# Missing data
dict = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df= pd.DataFrame(dict)
new_df= df.isnull()
print(new_df)

new2_df= df.fillna(0)
print(new2_df)

new3_df= df.dropna()
print(new3_df)

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False
   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0
   First Score  Second Score  Third Score
1         90.0          45.0         40.0

In [6]:
#Iterating over rows&columns

data = {'Name': [ 'Mano', 'Divya', 'Pinky', 'Yamini'],
        'Age': [20, 24, 30, 21],
        'Address': ['Tamilnadu', 'Gandhipuram', 'Bhopal', 'Bnagalore'],
        'Qualification': ['Msc', 'Phd', 'MBA', 'M.Tech']}


df= pd.DataFrame(data)
for i, j in df.iterrows():
        print(i, j)
        print()

columns= list(df)
for i in columns:
        print (df[i][2])

0 Name                  Mano
Age                     20
Address          Tamilnadu
Qualification          Msc
Name: 0, dtype: object

1 Name                   Divya
Age                       24
Address          Gandhipuram
Qualification            Phd
Name: 1, dtype: object

2 Name              Pinky
Age                  30
Address          Bhopal
Qualification       MBA
Name: 2, dtype: object

3 Name                Yamini
Age                     21
Address          Bnagalore
Qualification       M.Tech
Name: 3, dtype: object

Pinky
30
Bhopal
MBA

In [11]:
#Indexing a dataframe
data = {'Name': [ 'Mano', 'Divya', 'Pinky', 'Yamini'],
        'Age': [20, 24, 30, 21],
        'Address': ['Tamilnadu', 'Gandhipuram', 'Bhopal', 'Bnagalore'],
        'Qualification': ['Msc', 'Phd', 'MBA', 'M.Tech'], index_col ="Name"}

row2 = data.iloc[0] 
print(row2)

SyntaxError: ':' expected after dictionary key (1378152436.py, line 5)