In [1]:
! pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/ca/4e/d18db7d5ff9d28264cd2a7e2499b8701108f0e6c698e382cfd5d20685c21/pandas-1.5.3-cp38-cp38-win_amd64.whl
Collecting python-dateutil>=2.8.1 (from pandas)
  Using cached https://files.pythonhosted.org/packages/36/7a/87837f39d0296e723bb9b62bbb257d0355c7f6128853c78955f57342a56d/python_dateutil-2.8.2-py2.py3-none-any.whl
Collecting pytz>=2020.1 (from pandas)
  Using cached https://files.pythonhosted.org/packages/2e/09/fbd3c46dce130958ee8e0090f910f1fe39e502cc5ba0aadca1e8a2b932e5/pytz-2022.7.1-py2.py3-none-any.whl
Collecting numpy>=1.20.3; python_version < "3.10" (from pandas)
  Using cached https://files.pythonhosted.org/packages/bf/8c/3d36cef521739bd481e9a5b30e5c0f9faf8b7fe7b904238368908a9d149d/numpy-1.24.2-cp38-cp38-win_amd64.whl
Collecting six>=1.5 (from python-dateutil>=2.8.1->pandas)
  Using cached https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Installing collected packages: six, python-dateutil, pytz, numpy, pandas

ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: 'c:\\program files\\python38\\Lib\\site-packages\\six.py'
Consider using the `--user` option or check the permissions.

WARNING: You are using pip version 19.2.3, however version 23.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np

a= np.array(['h','j','k','l','m','n','o'])
s= pd.Series(a[:5])
print(s)

0    h
1    j
2    k
3    l
4    m
dtype: object

In [4]:

data = {'Name':['venna', 'ria', 'rio', 'priya'],
        'Age':[20, 24, 30, 21],
        'Address':['Tamilnadu', 'Mumbai', 'Goa', 'Kerala'],
        'Qualification':['Msc', 'Phd', 'MBA', 'M.Tech']}


ser= pd.Series(data['Name'])
print(ser[2])

print(ser.loc[1:2])

rio
1    ria
2    rio
dtype: object

In [5]:

data= [1, 2, 3, 4]
ser1= pd.Series(data)
print(ser1)

data1= [ 5, 6, 7, 8]
ser2= pd.Series(data1)
print(ser2)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    6
2    7
3    8
dtype: int64

In [6]:
#Operations
sum= ser1.add(ser2)
print(sum)
subtract= ser1.sub(ser2)
print(subtract)

0     6
1     8
2    10
3    12
dtype: int64
0   -4
1   -4
2   -4
3   -4
dtype: int64

In [9]:

data = {'Name':['venna', 'ria', 'rio', 'priya'],
        'Age':[20, 24, 30, 21],
        'Address':['Tamilnadu', 'Mumbai', 'Goa', 'Kerala'],
        'Qualification':['Msc', 'Phd', 'MBA', 'M.Tech']}

ser = pd.Series(data['Name'])
print(ser)
Name_list = ser.tolist()
print(Name_list)

ser=pd.Series(data['Name'])
print(ser.dtypes)

0    venna
1      ria
2      rio
3    priya
dtype: object
['venna', 'ria', 'rio', 'priya']
object